@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Add Lesson to Student";
}
@model StudentWithSchoolsVM
<h1>Add Lesson to Student</h1>

<div class="row">
    <div class="col-md-4">
        
            <div class="form-group">
                <label  class="contol-label">@Model.Student.Name</label>         
            </div>
             <br />
            
            <select id="LessonID" class="form-control">
                @foreach (var item in Model.Lessons)
                {
                    <option value="@item.Id">@item.Name</option>
                }
            </select>
            <br />
          
            <br />
             <div style="margin-top:40px" class="form-group">
               
                <input onclick="AddLesson(@Model.Student.Id)" value="Ekle" class="btn btn-primary"/>

            </div>

        
         <div class="form-group">

            <input value="Alanı Kapat" class="btn btn-primary" onclick="CloseAddLessonTable()" />

        </div>
        
        <div class="form-group" id="bildiri">

            

        </div>
    </div>

</div>


@if(ViewBag.Message !=null){
    <div class="alert alert-danger" role="alert">  @ViewBag.Message</div>
}
